<?xml version="1.0"?>
<robot name="my_robo" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find s4_system)/urdf/common.urdf.xacro"/>
  <xacro:include filename="$(find s4_system)/urdf/s4_body.urdf.xacro"/>

  <link name="base_link"/>

  <xacro:s4_body prefix="body0" parent="base_link" pos_z="0.044" />

  <!-- ===============  Gazebo =============== -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>my_robo</robotNamespace>
    </plugin>
  </gazebo>

</robot>
