<?xml version="1.0"?>
<launch>
  <arg name="target" default="localhost"/>
  <arg name="robot" default="default_robot"/>
  <arg name="rvizconfig" default="$(find s4_description)/rviz/robot_test.rviz" />


  <machine name="localhost"  address="localhost" />
  <machine name="remote2" address="remote2" env-loader="/home/pi/catkin_ws/devel/env.sh"  user="pi"  password="raspberry"/>
  <machine name="remote3" address="remote3" env-loader="/home/pi/catkin_ws/devel/env.sh"  user="pi"  password="raspberry"/>
  <machine name="OptiPlex-9010" address="OptiPlex-9010" env-loader="/home/erio/catkin_ws/devel/env.sh" user="erio" password="419000"/>

  

  <include file="$(find s4_description)/launch/spawn_hardware.launch" >
    <arg name="target" value="$(arg target)" />
  </include>

  <!-- driver -->
 
  <include file="$(find s4_omni)/launch/main.launch" />

  <!-- function -->

  <include file="$(find s4_operate)/launch/position.launch" />

<!--
  <node name="s4_operate_odom_tf" pkg="s4_operate" type="s4_operate_odom_tf">
    <remap from="odom" to="/$(arg robot)/omni0/odom" />
    <param name="parent_frame" value="$(arg robot)/odom" />
    <param name="child_frame"  value="$(arg robot)/base_link" />
  </node>
  -->
  <!--
  <node pkg="tf" type="static_transform_publisher" name="tf_map_to_odom"  args="0 0 0 0 0 0 default_robot/map default_robot/odom 50" />
  <node pkg="tf" type="static_transform_publisher" name="tf_odom_to_base" args="0 0 0 0 0 0 default_robot/odom default_robot/base_link 50" />
-->

  <include file="$(find s4_sensor)/launch/main.launch" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>
