<?xml version="1.0"?>
<launch>
  <arg name="target" default="localhost"/>
  <arg name="robot_name" default="s4n1"/>
  <arg name="rvizconfig" default="$(find s4_description)/rviz/robot_test.rviz" />


  <machine name="localhost"  address="localhost" />
  <machine name="remote2" address="remote2" env-loader="/home/pi/catkin_ws/devel/env.sh"  user="pi"  password="raspberry"/>
  <machine name="remote3" address="remote3" env-loader="/home/pi/catkin_ws/devel/env.sh"  user="pi"  password="raspberry"/>
  <machine name="OptiPlex-9010" address="OptiPlex-9010" env-loader="/home/erio/catkin_ws/devel/env.sh" user="erio" password="419000"/>

  <!-- device function -->
  <include file="$(find s4_hardware)/launch/spawn_comport.launch" >
    <arg name="robot_name" value="$(arg robot_name)" />
    <arg name="target" value="$(arg target)" />
  </include>

</launch>
