<?xml version="1.0"?>
<launch>
    <arg name="robot" default="default_robot"/>
    <arg name="target" default="sim"/>
	<arg name="vive" default="OptiPlex-9010"/><!-- sim -->

    <group ns="share">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find s4_launch)/rviz/single_robot.rviz" required="true" />
		<node name="joy_node"  pkg="joy" type="joy_node" />

		<node name="s4_operate_vive_control0"  pkg="s4_operate" type="s4_operate_vive_control" >
            <param name="goal_frame" value="vive0/controller0/goal_link"/>
			<param name="pointer_frame" value="vive0/controller0/pointer_link"/>
			<remap from="joy" to="/vive0/controller0/joy" />
			<remap from="pose" to="/$(arg robot)/omni0/pose" />
			<remap from="target" to="/$(arg robot)/gun0/aim_target" />
			<remap from="laser" to="/$(arg robot)/gun0/laser" />
			<remap from="shot" to="/$(arg robot)/gun0/shot" />
        </node>

		<node name="s4_operate_vive_control1"  pkg="s4_operate" type="s4_operate_vive_control" >
            <param name="goal_frame" value="vive0/controller1/goal_link"/>
			<param name="pointer_frame" value="vive0/controller1/pointer_link"/>
			<remap from="joy" to="/vive0/controller1/joy" />
			<remap from="pose" to="/$(arg robot)/omni0/pose" />
			<remap from="target" to="/$(arg robot)/gun0/aim_target" />
			<remap from="laser" to="/$(arg robot)/gun0/laser" />
			<remap from="shot" to="/$(arg robot)/gun0/shot" />
        </node>

		<node name="s4_operate_manual"  pkg="s4_operate" type="s4_operate_manual" >
			<remap from="cmd_vel" to="/$(arg robot)/omni0/cmd_vel" />
			<remap from="aim_vel" to="/$(arg robot)/gun0/aim_vel" />
			<remap from="laser"   to="/$(arg robot)/gun0/laser" />
			<remap from="shot"    to="/$(arg robot)/gun0/shot" />
		</node>

		<group if="$(eval target=='remote1')">
			<node pkg="tf" type="static_transform_publisher" name="tf_overlap" args="0.0 0.0 0 0.0 0.0 0 vive0/tracker0/tracking_link $(arg robot)/base_link 100" />
		</group>
		<group if="$(eval target=='remote2')">
			<node pkg="tf" type="static_transform_publisher" name="tf_overlap" args="0.0 0.0 0 0.0 0.0 0 vive0/tracker1/tracking_link $(arg robot)/base_link 100" />
		</group>
    </group>

    <rosparam>
        default_robot/gun0/s4_gun_aim_phycon/y_ajust: 0.16
        default_robot/gun0/s4_gun_aim_phycon/z_ajust: -0.13
    </rosparam>

	<include file="$(find s4_system)/launch/srs004_spawn.launch" >
		<arg name="robot"  value="$(arg robot)"/>
		<arg name="target" value="$(arg target)"/>
	</include>

	<include file="$(find s4_vive)/launch/vive_spawn.launch" >
		<arg name="target" value="$(arg vive)"/>
		<arg name="unit"   value="vive0"/>
		<arg name="vive_tf_dynamic" value="false"/>
		<arg name="vive_tf_static"  value="0.8 0 -2.47 -2.7 0 0"/>
		<arg name="c0_name" value="LHR_FFF91D43"/>
		<arg name="c1_name" value="LHR_FFD71F43"/>
		<arg name="t0_name" value="LHR_8ED3A411"/>
		<arg name="t1_name" value="LHR_FD5964F8"/>
	</include>
</launch>

