<?xml version="1.0"?>
<launch>
    <machine name="OptiPlex-9010" address="OptiPlex-9010" env-loader="/home/erio/catkin_ws/devel/env.sh" user="erio" password="419000" timeout="20"/>
    
   <group ns="vive"> 
      <node machine="OptiPlex-9010" pkg="vive_tracker" name="vive_world" type="vive_world.py" output="screen"/>
      <node machine="OptiPlex-9010" pkg="vive_tracker" name="vive_tracker" type="vive_tracker.py" output="screen"/>
   </group>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find s4_launch)/config/SETTING.rviz" required="true" />
</launch>

