<?xml version="1.0"?>
<launch>
  <arg name="target" default="sim"/>
  <arg name="ns" default=""/>
  <arg name="unit" default="tracking0"/>

  <group ns="/default_robot/$(arg unit)">
    <node name="s4_tracker_gazebo" pkg="s4_tracker" type="s4_tracker_gazebo" output="screen">
      <param name="model_name" value="default_robot"/>
      <param name="frame_id" value="$(arg ns)/$(arg unit)/odom"/>
    </node>
  </group>
</launch>

