<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="s4_body" params="prefix parent pos_z">
    <joint name="${prefix}/body_joint" type="fixed">
      <parent link="${parent}"/>
      <child  link="${prefix}/body_link"/>
      <origin rpy="0 0 0" xyz="0 0 ${pos_z}"/>
    </joint>
    <link name="${prefix}/body_link">
      <inertial>
        <mass value="0.500"/>
        <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://s4_description/stl/body.stl" />
        </geometry>
        <material name="gray"/>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0.002"/>
        <geometry>
          <cylinder radius="0.119" length="0.004" />
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}/body2_joint" type="fixed">
      <parent link="${prefix}/body_link"/>
      <child  link="${prefix}/body2_link"/>
      <origin rpy="0 0 0" xyz="0 0 0.046"/>
    </joint>
    <link name="${prefix}/body2_link">
      <inertial>
        <mass value="0.010"/>
        <inertia ixx="0.00001" ixy="0" ixz="0" iyy="0.00001" iyz="0" izz="0.00001"/>
      </inertial>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0.002"/>
        <geometry>
          <cylinder radius="0.119" length="0.004" />
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}/battery_joint" type="fixed">
      <parent link="${prefix}/body_link"/>
      <child  link="${prefix}/battery_link"/>
      <origin rpy="0 0 0" xyz="-0.070 0 0.004"/>
    </joint>
    <link name="${prefix}/battery_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://s4_description/stl/battery.stl" />
        </geometry>
        <material name="light_blue"/>
      </visual>
      <inertial>
        <mass value="0.130"/>
        <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
      </inertial>  
    </link>

    <joint name="${prefix}/bridge_joint" type="fixed">
      <parent link="${prefix}/body_link"/>
      <child  link="${prefix}/bridge_link"/>
      <origin rpy="0 0 0" xyz="0.005 0 0.050"/>
    </joint>
    <link name="${prefix}/bridge_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://s4_description/stl/bridge.stl" />
        </geometry>
        <material name="gray"/>
      </visual>
      <inertial>
        <mass value="0.500"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.0001"/>
      </inertial>
    </link>


    <joint name="${prefix}/tracker_joint" type="fixed">
      <parent link="${prefix}/bridge_link"/>
      <child  link="${prefix}/tracker_link"/>
      <origin rpy="0 0 ${radians(90)}" xyz="-0.030 0.050 0.195"/>
    </joint>
    <link name="${prefix}/tracker_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://s4_description/stl/tracker.stl" />
        </geometry>
        <material name="light_blue"/>
      </visual>
      <inertial>
        <mass value="0.190"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.0001"/>
      </inertial>
    </link>
  </xacro:macro>
</robot>
