<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="s4_sensor" params="prefix parent robot_name">
    <joint name="${prefix}/camera_joint" type="fixed">
      <parent link="${parent}"/>
      <child  link="${prefix}/head_camera_link"/>
      <origin rpy="${radians(-90)} 0 ${radians(-90)}" xyz="0.020 0 0.2581"/>
    </joint>
    <link name="${prefix}/head_camera_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://s4_description/stl/camera.stl" />
        </geometry>
        <material name="light_blue"/>
      </visual>
      <inertial>
        <mass value="0.190"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.0001"/>
      </inertial>
    </link>
    <gazebo reference="${prefix}/head_camera_link">
      <material>Gazebo/Blue</material>
    </gazebo>
    <gazebo reference="${prefix}/head_camera_link">
      <sensor type="camera" name="head_camera">
        <update_rate>10.0</update_rate>
        <camera name="head_camera">
          <pose>0 0 0 0 ${radians(-90)} ${radians(90)}</pose>
          <horizontal_fov>1.58</horizontal_fov>
          <image>
            <width>800</width>
            <height>600</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.02</near>
            <far>300</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
        <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>10.0</updateRate>
          <cameraName>device/${prefix}/head_camera</cameraName>
          <imageTopicName>image_raw</imageTopicName>
          <cameraInfoTopicName>camera_info</cameraInfoTopicName>
          <frameName>${prefix}/head_camera_link</frameName>
          <hackBaseline>0.0</hackBaseline>
          <distortionK1> 0.016</distortionK1>
          <distortionK2>-0.026</distortionK2>
          <distortionK3> 0.000</distortionK3>
          <distortionT1> 0.002</distortionT1>
          <distortionT2> 0.004</distortionT2>
        </plugin>
      </sensor>
    </gazebo>

    <joint name="${prefix}/front_laser_joint" type="fixed">
      <parent link="${parent}"/>
      <child  link="${prefix}/front_laser_link"/>
      <origin rpy="0 0 ${radians(-90)}" xyz="0.075 0.010 0.074"/>
    </joint>
    <link name="${prefix}/front_laser_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://s4_description/stl/ydlidar.stl" />
        </geometry>
        <material name="light_blue"/>
      </visual>
      <inertial>
        <mass value="0.130"/>
        <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
      </inertial>  
    </link>
    <gazebo reference="${prefix}/front_laser_link">
      <material>Gazebo/Blue</material>
      <sensor type="ray" name="front_laser">
        <pose>0 0 0 0 0 0</pose>
        <visualize>false</visualize>
        <update_rate>10</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>400</samples>
              <resolution>1</resolution>
              <min_angle>-3.141592</min_angle>
              <max_angle> 3.141592</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.10</min>
            <max>20.0</max>
            <resolution>0.01</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.01</stddev>
          </noise>
        </ray>
        <plugin name="gazebo_ros_lidar_controller" filename="libgazebo_ros_laser.so">
          <topicName>device/${prefix}/front_laser/scan</topicName>
          <frameName>${prefix}/front_laser_link</frameName>
        </plugin>
      </sensor>
    </gazebo>

    <joint name="${prefix}/imu_joint" type="fixed">
      <parent link="${parent}"/>
      <origin rpy="${radians(180)} 0 ${radians(90)}" xyz="${-0.078+0.005} 0 ${0.138+0.094}"/>
      <child  link="${prefix}/imu0_link"/>
    </joint>
    <link name="${prefix}/imu0_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.02 0.02 0.01" />
        </geometry>
        <material name="blue"/>
      </visual>
    </link>
    <gazebo reference="${prefix}/imu0_link">
      <material>Gazebo/Blue</material>
      <gravity>true</gravity>
      <sensor name="imu_sensor" type="imu">
        <always_on>true</always_on>
        <update_rate>100</update_rate>
        <visualize>true</visualize>
        <topic>__default_topic__</topic>
        <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
          <topicName>device/${prefix}/imu0/data</topicName>
          <bodyName>imu0_link</bodyName>
          <updateRateHZ>10.0</updateRateHZ>
          <gaussianNoise>0.0</gaussianNoise>
          <xyzOffset>0 0 0</xyzOffset>
          <rpyOffset>0 ${radians(180)} ${radians(-90)}</rpyOffset>
          <frameName>${robot_name}/${prefix}/imu0_link</frameName>
        </plugin>
        <pose>0 0 0 0 0 0</pose>
      </sensor>
    </gazebo>

  </xacro:macro>
</robot>
