<?xml version="1.0"?>
<robot name="my_robo" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find s4_omni)/urdf/wheel.urdf.xacro"/>

  <xacro:macro name="s4_omni" params="prefix parent">
    <xacro:omni_wheel prefix="${prefix}/wheel0" parent="${parent}" radius="0.077" dir="${pi/3}"   height="0.019" />
    <xacro:omni_wheel prefix="${prefix}/wheel1" parent="${parent}" radius="0.077" dir="${pi}"     height="0.019" />
    <xacro:omni_wheel prefix="${prefix}/wheel2" parent="${parent}" radius="0.077" dir="${5*pi/3}" height="0.019" />
  </xacro:macro>

  <!-- ===============  Gazebo =============== -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>my_robo</robotNamespace>
    </plugin>
  </gazebo>

</robot>
