<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default="default_robot"/>
  <arg name="target" default="localhost"/>
  <arg name="init_pose" default=""/>
  <arg name="model" default="$(find s4_description)/xacro/s4_robot.xacro"/>

  <group ns="$(arg robot_name)">
    <group ns="can_device">
      <node name="canadapter_node" pkg="s4_hardware" type="s4_hardware_canadapter_node" output="screen">
        <param name="baud_rate" value="1000000"/>
        <param name="hz" value="10.0"/>
        <param name="ppr" value="400"/>
        <param name="config" value="$(find s4_hardware)/config/canlink_plugins.yaml"/>
      </node>
      <node name="try_omni_converter" pkg="s4_hardware" type="s4_hardware_try_omni_converter" output="screen">
      </node>
    </group>
  </group>

</launch>
