<?xml version="1.0"?>
<launch>
  <arg name="target" default="localhost"/>
  <arg name="gui" default="true"/>
  <arg name="world_name" default="worlds/empty.world"/> 
  <arg name="use_sim_time" default="true"/>
  <param name="/use_sim_time" value="$(arg use_sim_time)"/>

  <env name="DISPLAY" value=":0" /> 
  <env name="GAZEBO_MASTER_URI" value="http://$(arg target):11345" /> 

  <node machine="$(arg target)" name="gazebo" pkg="gazebo_ros" type="gzserver" args="$(arg world_name)"/>

  <group if="$(arg gui)">
    <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" />
  </group>
<!--
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find s4_world)/world/test3.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
-->
</launch>

