<?xml version="1.0"?>
<launch>
  <arg name="robot" default="default_robot"/>
  <arg name="target" default="sim"/>

  <group ns="share">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find s4_vive)/rviz/default.rviz" required="true" />

    <arg name="model" default="$(find s4_vive)/urdf/world.urdf.xacro"/>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
      <param name="robot_description" value="$(arg robot)/robot_description" />
      <param name="tf_prefix" value="share"/>
    </node>

    <include file="$(find s4_vive)/launch/main.launch" >
      <arg name="target" value="$(arg target)"/>
      <arg name="ns"     value="share"/>
      <arg name="unit"   value="vive0"/>
      <arg name="c0_name" value="LHR_FFF91D43"/>
      <arg name="t0_name" value="LHR_FD5964F8"/>
      <arg name="t0_base" value="robot0/base_link"/>
    </include>
  </group>
</launch>
