<?xml version="1.0"?>
<launch>
  <arg name="model" default="$(find s4_vive)/urdf/world.urdf.xacro"/>
  <arg name="gui" default="true" />
  <arg name="vive" default="false"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <group ns="share">
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find s4_vive)/config/SETTING.rviz" required="true" />
    <group unless="$(arg vive)">
      <node name="joy_node"  pkg="joy" type="joy_node" />
    </group>
  </group>

  <group ns="vive">
    <group ns="sim" unless="$(arg vive)">
      <node name="s4_vive_joy_sim0"  pkg="s4_vive" type="s4_vive_joy_sim" >
        <remap from="joy" to="/share/joy"/>
        <param name="udp_address" value="127.0.0.1"/>
        <param name="udp_port" value="4001"/>
        <param name="device_index" value="device2"/>
        <param name="selector" value="L1"/>
      </node>
      <node name="s4_vive_joy_sim1"  pkg="s4_vive" type="s4_vive_joy_sim" >
        <remap from="joy" to="/share/joy"/>
        <param name="udp_address" value="127.0.0.1"/>
        <param name="udp_port" value="4001"/>
        <param name="device_index" value="device3"/>
        <param name="selector" value="R1"/>
      </node>
    </group>

    <node name="s4_vive_recieve"  pkg="s4_vive" type="s4_vive_recieve" >
      <param name="udp_address" value="0.0.0.0"/>
      <param name="udp_port" value="4001"/>
      <param name="controller0_name" value="vive0/controller0/body_link"/>
      <param name="controller1_name" value="vive0/controller1/body_link"/>    
    </node>
    <group ns="controller0">
      <node name="s4_vive_goal_publisher0"  pkg="s4_vive" type="s4_vive_goal_publisher" >
        <param name="pointer_frame" value="vive0/controller0/pointer_link"/>
        <param name="goal_frame"     value="vive0/controller0/goal_link"/>
      </node>
    </group>
    <group ns="controller1">
      <node name="s4_vive_goal_publisher1"  pkg="s4_vive" type="s4_vive_goal_publisher" >
        <param name="pointer_frame" value="vive0/controller1/pointer_link"/>
        <param name="goal_frame"     value="vive0/controller1/goal_link"/>
      </node>
    </group>
  </group>
</launch>
