<?xml version="1.0"?>
<launch>
  <arg name="model" default="$(find s4_vive)/urdf/world.urdf.xacro"/>
  <arg name="gui" default="true" />
  <arg name="vive" default="sim"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <group ns="share">
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find s4_vive)/config/SETTING.rviz" required="true" />
    <node name="joy_node"  pkg="joy" type="joy_node" />
  </group>

  <group ns="vive">
    <include file="$(find s4_vive)/launch/main.launch" >
      <arg name="vive" value="$(arg vive)"/>
    </include>
  </group>
</launch>
