<?xml version="1.0"?>
<launch>
  <arg name="target" default="sim"/>
  <arg name="ns" default=""/>
  <arg name="unit" default=""/>
  <arg name="c0_name" default=""/>
  <arg name="c1_name" default=""/>
  <arg name="t0_name" default=""/>
  <arg name="t1_name" default=""/>
  <include file="$(find s4_vive)/launch/remote_list.launch" />

  <group ns="$(arg unit)">
    <group unless="$(eval target == 'sim')">
      <node pkg="tf" type="static_transform_publisher" name="vive_world" args="0.0 0.0 -0.4 0.0 0.0 1.57079 world vive_world 100" />
      <node machine="$(arg target)" pkg="vive_tracker" name="vive_tracker" type="vive_tracker.py" output="screen"/>
    </group>
    <group ns="controller0" unless="$(eval c0_name == '')">
        <node pkg="tf" type="static_transform_publisher" name="tf_overlap" args="0.0 0.0 0 0.0 0.0 0 $(arg c0_name) share/vive0/controller0/body_link 100" />
        <node name="s4_vive_goal_tf"  pkg="s4_vive" type="s4_vive_goal_tf" >
          <param name="pointer_frame" value="$(arg ns)/$(arg unit)/controller0/pointer_link"/>
          <param name="goal_frame"    value="$(arg ns)/$(arg unit)/controller0/goal_link"/>
        </node>
        <node name="relay" type="relay" pkg="topic_tools" args="/$(arg ns)/$(arg unit)/$(arg c0_name)/joy joy">
          <param name="lazy" value="true" />
        </node>
    </group>
    <group ns="tracker0" unless="$(eval t0_name == '')">
      <node pkg="tf" type="static_transform_publisher" name="tf_overlap" args="0.0 0.0 0 0.0 0.0 0 $(arg t0_name) share/vive0/tracker0/body_link 100" />
    </group>
  </group>
</launch>
