<?xml version="1.0"?>
<launch>
    <arg name="robot" default="default_robot"/>
    <arg name="target" default="sim"/>

    <group ns="share">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find s4_gun)/config/SETTING.rviz" required="true" />
        <node name="joy_node"  pkg="joy" type="joy_node" />
        <node name="s4_gun_demo" pkg="s4_gun" type="s4_gun_demo" >
            <remap from="joy"  to="/share/joy"/>
            <remap from="aim_vel" to="/$(arg robot)/gun0/aim_vel"/>
            <remap from="aim_pos" to="/$(arg robot)/gun0/aim_pos"/>
            <remap from="laser"   to="/$(arg robot)/gun0/laser"/>
            <remap from="shot"    to="/$(arg robot)/gun0/shot"/>
        </node>
    </group>

    <group ns="$(arg robot)">
        <arg name="model" default="$(find s4_gun)/urdf/world.urdf.xacro"/>
        <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
            <param name="robot_description" value="$(arg robot)/robot_description" />
            <param name="tf_prefix" value="$(arg robot)"/>
        </node>  
        <include file="$(find s4_gun)/launch/main.launch" >
            <arg name="target" value="$(arg target)"/>
            <arg name="ns"     value="$(arg robot)"/>
            <arg name="unit"   value="gun0"/>
        </include>
        <include file="$(find s4_comport)/launch/main.launch" >
            <arg name="target" value="$(arg target)"/>
            <arg name="ns"     value="$(arg robot)"/>
            <arg name="unit"   value="comport0"/>
        </include>
    </group>
</launch>

