<?xml version="1.0"?>
<launch>
    <arg name="target" default="sim"/>
    <arg name="ns" default=""/>
    <arg name="unit" default=""/>
    
    <group ns="$(arg unit)">
        <node name="s4_gun_aim_publisher" pkg="s4_gun" type="s4_gun_aim_publisher" output="screen">
            <remap from="joint_states"  to="/$(arg ns)/joint_states"/>
            <param name="yaw_lower_limit" value="-0.35"/>
            <param name="yaw_upper_limit" value="0.35"/>
            <param name="pitch_lower_limit" value="-0.18"/>
            <param name="pitch_upper_limit" value="0.18"/>
            <param name="yaw_velocity" value="0.3"/>
            <param name="pitch_velocity" value="0.3"/>
            <param name="joint1_name" value="$(arg unit)/base2_joint"/>
            <param name="joint2_name" value="$(arg unit)/gun_joint"/>
            <param name="gun_link_name" value="$(arg ns)/$(arg unit)/gun_standard"/>
        </node>
        <node name="s4_gun_shot_marker_publisher" pkg="s4_gun" type="s4_gun_shot_marker_publisher">
            <param name="gun_link_name" value="$(arg ns)/$(arg unit)/gun_link"/>
        </node>
        <node name="s4_gun_laser_marker_publisher" pkg="s4_gun" type="s4_gun_laser_marker_publisher">
            <param name="laser_link_name" value="$(arg ns)/$(arg unit)/laser_link"/>
        </node>

        <group unless="$(eval target == 'sim')">
            <node name="s4_gun_aim_phycon" pkg="s4_gun" type="s4_gun_aim_phycon" >
                <remap from="CANLink_out" to="/$(arg ns)/comport0/CANLink_out"/>
                <param name="CAN_CH" value="A"/>
                <param name="CAN_ID" value="0"/>
<!--
                <param name="y_ajust" value="0.055"/>
                <param name="z_ajust" value="-0.045"/>
-->
            </node>
            <node name="s4_gun_laser_phycon" pkg="s4_gun" type="s4_gun_laser_phycon" >
                <remap from="CANLink_out" to="/$(arg ns)/comport0/CANLink_out"/>
                <param name="CAN_CH" value="A"/>
                <param name="CAN_ID" value="0"/>
            </node>
            <node name="s4_gun_shot_phycon" pkg="s4_gun" type="s4_gun_shot_phycon" >
                <remap from="CANLink_out" to="/$(arg ns)/comport0/CANLink_out"/>
                <remap from="CANLink_in"  to="/$(arg ns)/comport0/CANLink_in"/>
                <param name="CAN_CH" value="A"/>
                <param name="CAN_ID" value="0"/>
            </node>
        </group>
        <group if="$(eval target == 'sim')">
            <node name="s4_gun_shot_sim" pkg="s4_gun" type="s4_gun_shot_sim" />
        </group>
    </group>
</launch>

