<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default="robot"/>
  <group ns="comport">
    <node name="s4_comport_canlink_to_seriallink" pkg="s4_comport" type="s4_comport_canlink_to_seriallink" />
    <node name="s4_comport_seriallink_decoder"    pkg="s4_comport" type="s4_comport_seriallink_decoder" />
    <node name="s4_comport_serialport"            pkg="s4_comport" type="s4_comport_serialport" />
    <node name="s4_comport_seriallink_encoder"    pkg="s4_comport" type="s4_comport_seriallink_encoder" />
    <node name="s4_comport_seriallink_to_canlink" pkg="s4_comport" type="s4_comport_seriallink_to_canlink" />
  </group>
</launch>