<?xml version="1.0"?>
<launch>
  <arg name="robot" default="default_robot"/>
   <arg name="target" default="sim"/>

  <group ns="$(arg robot)">
    <include file="$(find s4_comport)/launch/main.launch" >
      <arg name="target" value="$(arg target)"/>
      <arg name="ns"     value="$(arg robot)"/>
      <arg name="unit"   value="comport0"/>
    </include>
  </group>
</launch>