<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="robot_name" default="default_robot" />
  <arg name="mode" default="wheel" />
<!--
  fix: fized to zero
  wheel: use wheel
  internal: use wheel & IMU
  gmapping:
  amcl:
  tracker:
-->

  <group if="$(eval mode=='fix')">
    <node pkg="tf" type="static_transform_publisher" name="tf_map_to_odom"  args="0 0 0 0 0 0 default_robot/map  default_robot/odom 50" />
    <node pkg="tf" type="static_transform_publisher" name="tf_odom_to_base" args="0 0 0 0 0 0 default_robot/odom default_robot/base_link 50" />
  </group>
  <group if="$(eval mode=='wheel')">
    <!-- robot_localization -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
      <rosparam command="load" file="$(find s4_omni)/config/ekf_localization.yaml" />
      <remap from="/odometry/filtered" to="/wheel_robot/ekf/odom" />
    </node>
    <node pkg="tf" type="static_transform_publisher" name="tf_map_to_odom" args="0 0 0 0 0 0 default_robot/map default_robot/odom 50" />
  </group>
</launch>
