<?xml version="1.0"?>
<launch>
    <arg name="target" default="sim"/>
    <arg name="ns" default=""/>
    <arg name="unit" default=""/>

    <group ns="$(arg unit)">
        <node name="s4_omni_commander" pkg="s4_omni" type="s4_omni_commander" output="screen">
            <param name="wheel_base" value="0.0972"/>
            <param name="wheel_radius" value="0.019"/>
            <param name="linear_velocity" value="1.5"/>
            <param name="angular_velocity" value="4.0"/>
            <param name="wheel0" value="$(eval 3.1415/3)"/>
            <param name="wheel1" value="$(eval 3.1415)"/>
            <param name="wheel2" value="$(eval 5*3.1415/3)"/>
        </node>
        
        <group unless="$(eval target == 'sim')">
            <group ns="wheel0">
                <node name="s4_omni_wheel_phycon" pkg="s4_omni" type="s4_omni_wheel_phycon" >
                    <remap from="CANLink_out" to="/$(arg ns)/comport0/CANLink_out"/>
                    <remap from="CANLink_in"  to="/$(arg ns)/comport0/CANLink_in"/>
                    <param name="CAN_CH" value="A"/>
                    <param name="CAN_ID" value="1"/>
                    <param name="PPR" value="-397"/>
                </node>
            </group>
            <group ns="wheel1">
                <node name="s4_omni_wheel_phycon" pkg="s4_omni" type="s4_omni_wheel_phycon" >
                    <remap from="CANLink_out" to="/$(arg ns)/comport0/CANLink_out"/>
                    <remap from="CANLink_in"  to="/$(arg ns)/comport0/CANLink_in"/>
                    <param name="CAN_CH" value="A"/>
                    <param name="CAN_ID" value="2"/>
                    <param name="PPR" value="-397"/>
                </node>
            </group>
            <group ns="wheel2">
                <node name="s4_omni_wheel_phycon" pkg="s4_omni" type="s4_omni_wheel_phycon" >
                    <remap from="CANLink_out" to="/$(arg ns)/comport0/CANLink_out"/>
                    <remap from="CANLink_in"  to="/$(arg ns)/comport0/CANLink_in"/>
                    <param name="CAN_CH" value="A"/>
                    <param name="CAN_ID" value="3"/>
                    <param name="PPR" value="-397"/>
                </node>
            </group>
        </group>

        <group if="$(eval target == 'sim')">
            <group ns="wheel0">
                <node name="s4_omni_wheel_sim" pkg="s4_omni" type="s4_omni_wheel_sim" />
            </group>
            <group ns="wheel1">
                <node name="s4_omni_wheel_sim" pkg="s4_omni" type="s4_omni_wheel_sim" />
            </group>
            <group ns="wheel2">
                <node name="s4_omni_wheel_sim" pkg="s4_omni" type="s4_omni_wheel_sim" />
            </group>
        </group>
        <node name="s4_omni_odometry" pkg="s4_omni" type="s4_omni_odometry" output="screen">
            <remap from="odometry0" to="wheel0/odometry"/>
            <remap from="odometry1" to="wheel1/odometry"/>
            <remap from="odometry2" to="wheel2/odometry"/>
            <remap from="joint_states" to="/$(arg ns)/joint_states"/>
            <param name="wheel_base" value="0.0972"/>
            <param name="wheel_radius" value="0.019"/>
            <param name="joint0_name" value="$(arg unit)/wheel0/housing_joint"/>
            <param name="joint1_name" value="$(arg unit)/wheel1/housing_joint"/>
            <param name="joint2_name" value="$(arg unit)/wheel2/housing_joint"/>        
        </node>
    </group>
 </launch>

