<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default="default_robot" />
  <arg name="mode" default="none" />

  <group ns="$(arg robot_name)/navigation">
    <node pkg="s4_omni" type="s4_omni_move_server" name="s4_omni_move_server" >
      <remap from="cmd_vel" to="/$(arg robot_name)/device/omni0/cmd_vel" />
    </node>      
  </group>
 </launch>

