<?xml version="1.0"?>
<robot name="my_robo" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find s4_operate)/urdf/common.urdf.xacro"/>
  <xacro:include filename="$(find s4_operate)/urdf/s4_body.urdf.xacro"/>

  <link name="world"/>
  <link name="robot0/base_link"/>
  <joint name="robot0/base_joint" type="fixed"><!--floating-->
    <parent link="world"/>
    <child link="robot0/base_link"/>
  </joint>

  <xacro:s4_body prefix="robot0/body0" parent="robot0/base_link" />

  <!-- ===============  Gazebo =============== -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>my_robo</robotNamespace>
    </plugin>
  </gazebo>

</robot>
