<?xml version="1.0"?>
<robot name="my_robo" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find s4_launch)/urdf/common.urdf.xacro"/>
  <xacro:include filename="$(find s4_launch)/urdf/s4_robot.urdf.xacro"/>

  <link name="world"/>


  <xacro:s4_robot prefix="robot0" parent="world" />
  
  <xacro:include filename="$(find s4_vive)/urdf/s4_vive.urdf.xacro"/>
  <xacro:s4_vive_controller prefix="vive0/controller0" parent="world" />
  <xacro:s4_vive_controller prefix="vive0/controller1" parent="world" />

  <!-- ===============  Gazebo =============== -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>my_robo</robotNamespace>
    </plugin>
  </gazebo>
</robot>
