<?xml version="1.0"?>
<launch>
    <arg name="robot" default="sim"/>
    <group unless="$(eval robot == 'sim')">
        <node name="hit0" pkg="srs004host" type="phycon_hitsensor_actual" >
            <remap from="CANLink_out" to="/robot0/comport0/CANLink_out"/>
            <remap from="CANLink_in"  to="/robot0/comport0/CANLink_in"/>
            <param name="CAN_CH" value="A"/>
            <param name="CAN_ID" value="5"/>
        </node>
    </group>
    <group if="$(eval robot == 'sim')">
        <node name="hitsensor" pkg="srs004host" type="phycon_hitsensor_sim" />
    </group>
</launch>

