<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default="default_robot"/>
  <group ns="$(arg robot_name)/selection">
    
    <node name="s4_sensor_selection_server" pkg="s4_sensor" type="s4_sensor_selection_server" output="screen">
      <remap from="objects" to="/$(arg robot_name)/detection/objects"/>
    </node>
  </group>
</launch>

